@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@700&family=Mohave&family=Poppins:wght@300;400&family=Source+Serif+4:opsz@8..60&family=Special+Elite&display=swap');
* {
font-family: sans-serif , 'poppins';
/* font-family: 'Special Elite', cursive; */
  margin: 0px;
  padding: 0px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.dropdown-menu{
  padding: inherit;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.editor-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: 1px solid grey;
  width: 33%;
}

.custom-scrollbar{
  overflow-x: scroll;
  scrollbar-width: none;
  overflow: hidden;
  overflow-y: scroll;
  width: 7px;
  padding: 4px;
  box-shadow: inset 0 0 5px white;
  background: rgb(184, 178, 178);
  background: #805ad5;
  height: 20px;
  border-radius: 10px;
  max-height: 20px;
  margin-top: 40%;
  margin-bottom: 40%;
}

.result-container {
  flex: 2;
}


.settings-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Optionally, you can add transition effects for smooth opening and closing */
.settings-dialog-content {
  transition: transform 0.3s ease;
}

.settings-dialog:not(:empty) {
  display: flex;
}

